{% extends 'base.html' %}
{% load static %}

{% block title %}首页 - 待办事项管理系统{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- 侧边栏 -->
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">
                            <span data-feather="home"></span>
                            首页
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'category_list' %}">
                            <span data-feather="file"></span>
                            分类管理
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'task_list' %}">
                            <span data-feather="list"></span>
                            任务管理
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'statistic' %}">
                            <span data-feather="bar-chart-2"></span>
                            数据统计
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">
                            <span data-feather="user"></span>
                            个人资料管理
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- 主要内容区域 -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            {% block main_dashboard_content %}
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">首页</h1>
            </div>
            <!-- 你的首页内容将在这里 -->
            <p>欢迎来到待办事项管理系统首页！</p>
            {% endblock %}
        </main>
    </div>
</div>
{% endblock %}

{% block header %}
<nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
    <div class="container-fluid">
        <a class="navbar-brand fs-5" href="{% url 'home' %}">待办事项管理系统</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle py-1" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'img/default_avatar.png' %}{% endif %}" alt="头像" class="rounded-circle me-2" width="50" height="50">
                        <span class="fs-4">{{ user.username }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'profile' %}">个人资料</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">退出登录</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">登录</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">注册</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %} 